<footer class="footer">
  <div class="footer__arrow">
    <a class="footer__arrow--link" href="#header" title="Home"><img src="./assets/images/ico-arrow.svg"
        alt="Arrow up"></a>
  </div>

  <nav class="footer__menu">
    <ul>
      <li>
        <include src="./link.html" aClass="link" text="Articles" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Books" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Events" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Reasons" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Tips" url="https://adalab.es"></include>
      </li>
    </ul>
  </nav>

  <nav class="footer__social-media">
    <ul>
      <li>
        <include src="./link.html" aClass="link" text="Twitter" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Instagram" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Mastodon.social" url="https://adalab.es"></include>
      </li>
    </ul>

  </nav>

  <div class="footer__copy">
    <p>&copy;2020</p>
    <p> we <span class="footer__copy--heart">&#10084;</span> components</p>
  </div>
</footer>