<footer class="footer">
  <div class="footer__menu">
    <ul>
      <li>
        <include src="./link.html" aClass="link" text="Articles" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Books" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Events" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Tips" url="https://adalab.es"></include>
      </li>
    </ul>
  </div>

  <div class="footer__social-media">
    <ul>
      <li>
        <include src="./link.html" aClass="link" text="Twitter" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Instagram" url="https://adalab.es"></include>
      </li>
      <li>
        <include src="./link.html" aClass="link" text="Mastodon.social" url="https://adalab.es"></include>
      </li>
    </ul>

  </div>
  <div class="footer__copy">
    <p>&copy;2020</p>
    <p> we <span class="footer__copy--heart">&#10084;</span> components</p>
  </div>
</footer>