<header id="header" class="header">
  <div class="header__menu">
    <a href="https://adalab.es/" title="Menu" target="_blank"><img src="./assets/images/ico-menu.svg" alt="Menu"></a>
  </div>

  <hgroup class="header__title">
    <h1 class="header__title--bigtitle">Anonymous proxy</h1>
    <h3 class="header__title--subtitle">In hac habitasse platea disctumst.</h3>

    <div class="header__title--arrow">
      <a class="header__title--arrow--link" href="#reasons" title="3 reasons to purchase"><img
          src="./assets/images/ico-scroll-down.svg" alt="Arrow down"></a>
    </div>
  </hgroup>
</header>