<section class="main__info">
    <h2 class="main__info--title">3 reasons to purchase</h2>
    <section class="main__info--article">
        <article class="main__info--article--set">
            <h4 class="main__info--article--set--title">Ut sed metus</h4>
            <p class="main__info--article--set--paragraph">Lorem, ipsum dolor sit amet consectetur.</p>
        </article>
        <article class="main__info--article--set">
            <h4 class="main__info--article--set--title">Curabitur ac erat</h4>
            <p class="main__info--article--set--paragraph">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="main__info--article--set">
            <h4 class="main__info--article--set--title">Morbi dictum</h4>
            <p class="main__info--article--set--paragraph">Aliquiam in dolor et dolor tincidunt.</p>
        </article>
    </section>

    <button class="main__info--button">
        <a href="https://adalab.es/" target="_blank">More reasons</a>
    </button>
</section>