// fonts
$font-main: 'Roboto', sans-serif;
$font-title:'Roboto Slab', serif;

// colors
$color-bg: #000000;
$color-secondary: #ffffff;
$color-greyb: #4a4a4a;
$color-cel: #0271bc;
$color-orange: #f26002;
$color-lblue: #8ccbea;
$color-iceblue: #eff9ff;
$color-dgblue: #304268;
