.main__claim {
    background-color: $color-secondary;

    font: {
        family: $font-main;
        size: 18px;
    }

    line-height: 30px;
    padding: 30px 15px 45px 15px;

    @media (min-width: 768px) {
        padding: 30px 40px 60px 40px;
    }

    @media (min-width: 1200px) {
        padding: 60px 275px;
    }

    &--intro {
        font-size: 14px;
        color: $color-lblue;

        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }

    &--title {
        width: 250px;
        margin-bottom: 15px;
        color: $color-bg;
        text-transform: capitalize;

        font: {
            family: $font-title;
            size: 24px;
        }

        @media (min-width: 768px) {
            width: 100%;
            font-size: 26px;
            line-height: 45px;
            margin-bottom: 30px;
        }
        @media (min-width: 1200px) {
            font-size: 32px;
        }
    }

    &--text {
        color: $color-greyb;
        letter-spacing: 0.06em;
        margin-bottom: 30px;
        @media (min-width: 768px) {
            font-size: 20px;
            letter-spacing: 0.01em;
        }
        @media (min-width: 1200px) {
            font-size: 20px;
            letter-spacing: 0.01em;
        }

    }

    &--button {
        width: 76px;
        height: 45px;
        background-color: $color-secondary;
        color: $color-orange;
        border: 2px solid $color-orange;
        border-radius: 22.5px;

        font: {
            family: $font-main;
            weight: 500;
            size: 20px;
        }

        line-height: 45px;

        @media (min-width: 768px) {
            width: 91px;
        }
        @media (min-width: 1200px) {
            width: 160px;
        }

        &:hover {
            color: $color-secondary;
            background-color: $color-orange;

        }


    }
}