.main__claim {
    width: 100%;
    height: 376px;
    background-color: $color-secondary;
    font: {
        family: $font-main;
    }
    padding: 30px 15px 45px 15px;

    &--intro {
        font-size: 14px;
        line-height: 30px;
        color: $color-lblue;
    }

    &--title {
        width: 250px;
        margin-bottom: 15px;
        line-height: 30px;
        color: $color-bg;
        text-transform: capitalize;
        font:{
            family: $font-title;
            size: 24px; 
        }
    }

    &--text {
        color: $color-greyb;
        font-size: 18px;
        line-height: 30px;
        letter-spacing:0.06em;
        margin-bottom: 30px;
    }

    &--button {
        width: 76px;
        height: 45px;
        background-color: $color-secondary;
        color: $color-orange;
        border: 2px solid $color-orange;
        border-radius: 22.5px;
        font: {
            family: $font-main;
            weight: 500;
            size: 20px;
        }

        
    }
}