.footer {
    height: 465px;
    background-color: $color-dgblue;
    text-align: center;
    color: $color-secondary;
    font-family: $font-main;
    line-height: 30px;

    &__menu {
        height: 210px;
        padding-top: 60px;
        display: flex;
        justify-content: center;
    }

    &__social-media {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 90px;
    }

    &__copy {
        font-size: 14px;
        margin-top: 30px;
        &--heart {
            color: $color-orange;
        }
    }
}
