.footer {
    background-color: $color-dgblue;
    text-align: center;
    color: $color-secondary;

    font: {
        family: $font-main;
        size: 16px;
    }

    line-height: 30px;
    padding: 15px 15px 45px 15px;

    &__arrow {
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: baseline;
        position: relative;
        top: -37.5px;
        margin: 0 auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        &--link {
            padding: 10px;
        }

        @media (min-width: 768px) {
            top: -22.5px;
        }
    }

    &__menu {
        padding-bottom: 30px;

        @media (min-width: 768px) {
            padding-bottom: 0;
        }
    }

    &__social-media {
        height: 90px;
    }

    &__copy {
        font-size: 14px;
        margin-top: 30px;

        &--heart {
            color: $color-orange;
        }

        @media (min-width: 768px) {
            order: -1;
            margin-top: 0;
        }
    }

    @media (min-width: 768px) {
        padding:0px 40px 45px 40px;
    }

    @media (min-width: 1200px) {
        padding-left: 370px;
        padding-right: 370px;
    }

    &__container {
        @media (min-width: 768px) {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}