.footer {
    height: 465px;
    background-color: $color-dgblue;
    text-align: center;
    color: $color-secondary;

    &__links {
        color: $color-secondary;
        font: {
            family: $font-main;
            
        }
    }

    &__copy {
        color: $color-secondary;
    }
}
