.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 284px 15px 50px 15px;

  @media (min-width: 768px) {
    padding-bottom: 45px;

  }


  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--bigtitle {
      color: $color-secondary;

      text: {
        transform: uppercase;
        shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      }

      line-height: 55px;

      font: {
        family: $font-title;
        size: 42px;
      }

      width: 290px;
      height: 110px;
      margin-bottom: 10px;


      @media (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
        width: 690px;
        height: 212px;
        margin-bottom: 20px;
      }

      @media (min-width: 1200px) {
        font-size: 100px;
        line-height: 132px;
        width: 730px;
        height: 264px;
        margin-bottom: 0;

      }
    }


    &--subtitle {
      color: $color-secondary;

      font: {
        family: $font-main;
        weight: 500;
        size: 16px;

      }

      @media (min-width: 1200px) {
        font-size: 24px;
      }
    }

    &--arrow {
      width: 45px;
      height: 45px;
      border-radius: 22.5px;
      background-color: $color-secondary;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      top: 53px;
      scroll-behavior: smooth;
      &:hover {
        transform:translateY(20px);
        transition: transform 1s ease;
      }

      @media (min-width: 1200px) {
        top: 45px;
      }

      &--link {
        padding: 10px;
      }
    }
  }


}
