.main__info {
    background-color: $color-iceblue;
    padding: 30px 15px 60px 15px;
    text-align: center;

    font: {
        family: $font-main;
        size: 18px;
    }

    &--title {
        font: {
            family: $font-title;
            size: 24px;
        }

        line-height: 30px;
        text-transform: capitalize;
        margin-bottom: 45px;
    }

    &--article {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        &--set {
            width: 184px;
            margin-bottom: 45px;

        }

    }

    &--button {
        width: 184px;
        height: 45px;
        color: $color-secondary;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        border: 2px solid $color-orange;
        border-radius: 22.5px;
        background-color: $color-orange;

        &:visited {
            color: $color-secondary;
        }

        &:hover {
            color: $color-orange;
            background-color: $color-secondary;
            
        }

        &:active {}

    }

}